html{
  font-family: "Open Sans", sans-serif; /* これが Google フォントから取得した残りの出力になるはず。 */
}
body{
  /*width: 600px;*/
  padding: 0 20px 20px 20px;
  border: 5px solid black; 

}
ul, li{
  list-style: none;
}

a{
  text-decoration:none;
}

.header-nav-menu{
  display: flex;
  align-items:start;
  gap: 10px;
  
  
}
.menu-item{
  width: 100px;
  height: 32px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.menu-item:hover{
  background-color: rgb(210, 210, 210);
}
.menu-item a{
  color: rgb(54, 54, 54);

}


.task-list{
  display : flex;
  flex-direction: column;


}

.task-item div:not(.expired, .in-date){
  text-decoration:none;
  color: rgb(0, 0, 0);
}

.expired{
  color: red;
  width: 48px;  /*文字数*16px*/
  height: 20px;
  display: inline-block;
  border: 2px solid red;
}
.in-date{
  color: black;
}
.task-item{
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-column-gap: 10px; 

  
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

  /*焦点中の動き*/
  transition: all 0.4s;
  cursor: pointer;

}
.task-item .task-info{
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  grid-column-gap: 10px; 
}
.task-item:hover{
  border-radius: 15px;
  
}


.drop-menu {
  position: absolute;
  top: 60px;
  transition: all .3s;
  padding: 0;
  margin: 0;
}

.drop-menu__link {
  display: none;
  /* display: none; デフォルトの設定は消す */ 
  background-color: #ffffff;
  padding: 0px 20px;

  cursor        : pointer;     /* カーソル  */
  transition    : .5s;         /* なめらか変化 */
  border        : 1px solid black;    /* 枠の指定 */

  /*焦点中の動き*/
  transition: all 0.4s;
  cursor: pointer;

  font-size     : 12px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  transition: all .3s; /* 追記 */

}

.drop-menu__link:hover {
  background-color: rgb(224, 224, 224);
  /*border-radius: 15px;*/
}
/* ドロップダウン出現後のスタイル */
.drop-menu__link.is-active {
  display: block;
  padding: 5px 20px; /* 追記 */
  transition: all .4s; /* 追記 */
}

