html{
  font-family: "Open Sans", sans-serif; /* これが Google フォントから取得した残りの出力になるはず。 */
}
body{
  /*width: 600px;*/
  padding: 0 20px 20px 20px;
  border: 5px solid black; 

}
ul, li{
  list-style: none;
}

a{
  text-decoration:none;
}

.header-nav-menu{
  display: flex;
  align-items:start;
  gap: 10px;
  
  
}
.menu-item{
  width: 100px;
  height: 32px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.menu-item:hover{
  background-color: rgb(210, 210, 210);
}
.menu-item a{
  color: rgb(54, 54, 54);

}


.task-list{
  display : flex;
  flex-direction: column;


}

.task-item div:not(.expired, .in-date){
  text-decoration:none;
  color: rgb(0, 0, 0);
}

.expired{
  color: red;
  width: 48px;  /*文字数*16px*/
  height: 20px;
  display: inline-block;
  border: 2px solid red;
}
.in-date{
  color: black;
}
.task-item{
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  grid-column-gap: 10px; 

  
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

  /*焦点中の動き*/
  transition: all 0.4s;
  cursor: pointer;

}
.task-item:hover{
  border-radius: 15px;
  background-color: rgb(189, 189, 189);
  
}
.task-item .right{

}

